:root {
    --bg: #f5f6f8;
    --card: #ffffff;
    --text: #111827;
    --secondary: #6b7280;
    --green: #22c55e;
    --border: #e5e7eb;
    --input: #f3f4f6;
}

body.dark {
    --bg: #090b10;
    --card: #151922;
    --text: #f9fafb;
    --secondary: #9ca3af;
    --border: #252b38;
    --input: #202633;
}


* {
    box-sizing: border-box;
}


body {
    margin:0;
    padding:20px 16px 100px;

    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "Segoe UI",
    sans-serif;

    background:var(--bg);
    color:var(--text);

    transition:.3s;
}


.app {
    max-width:480px;
    margin:auto;
}


.top {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}


h1 {
    font-size:30px;
    margin:0;
    letter-spacing:-1px;
}


.top p {
    margin:4px 0;
    color:var(--secondary);
}


.icon-btn {

    width:42px;
    height:42px;

    border-radius:50%;
    border:none;

    background:var(--card);
    color:var(--text);

    font-size:20px;

    box-shadow:
    0 5px 20px rgba(0,0,0,.08);
}



.card {

    background:var(--card);

    border-radius:24px;

    padding:22px;

    margin-bottom:16px;

    border:1px solid var(--border);

    box-shadow:
    0 8px 30px rgba(0,0,0,.05);

    animation:fade .4s ease;

}



@keyframes fade {

from {
opacity:0;
transform:translateY(10px);
}

to {
opacity:1;
transform:none;
}

}



.label {

color:var(--secondary);
font-size:14px;

}



.hero h2 {

font-size:42px;
letter-spacing:-2px;

margin:10px 0;

}



.gain {

color:var(--green);

font-weight:600;

}



.chart {

width:100%;
height:auto;

margin-top:20px;

}



.stats {

display:grid;

grid-template-columns:1fr 1fr;

gap:14px;

}



.stat p {

margin:0 0 8px;

color:var(--secondary);

font-size:14px;

}



.stat strong {

font-size:20px;

}



.green {

color:var(--green);

}



h3 {

margin-top:0;

font-size:22px;

}



label {

display:block;

margin-top:16px;

margin-bottom:6px;

font-size:14px;

color:var(--secondary);

}



input {

width:100%;

padding:15px;

border-radius:14px;

border:none;

background:var(--input);

color:var(--text);

font-size:18px;

outline:none;

}



input:focus {

box-shadow:
0 0 0 2px var(--green);

}



.progress {

height:12px;

background:var(--input);

border-radius:20px;

overflow:hidden;

margin-top:20px;

}



#progressBar {

height:100%;

width:0%;

background:var(--green);

border-radius:20px;

transition:width .5s ease;

}



.nav {

position:fixed;

bottom:15px;

left:50%;

transform:translateX(-50%);

width:min(450px,90%);


display:flex;

justify-content:space-around;

padding:12px;


background:var(--card);

border-radius:22px;


border:1px solid var(--border);


box-shadow:
0 10px 40px rgba(0,0,0,.15);

}



.nav button {

background:none;

border:none;

color:var(--secondary);

font-size:14px;

}



.nav .active {

color:var(--green);

font-weight:700;

}



@media(max-width:360px){

.hero h2 {

font-size:34px;

}

}
